body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/adminPage.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
input{
    border-radius: 7px;
}

h1{
    text-align: center;
}
/*Üst Panel*/
nav{
    text-align:center;
    background-color: #2d4769cb;
    padding: 10px 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
ul.topMenu li{
    list-style: none;
    display: inline;
    font-size: 20px;
}

ul.topMenu li a{
    text-decoration: none;
    color:#164077 ;
    background-color: #1172b3e3;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul.topMenu li a.btnOut{
    color:#dce0e4 ;
    background-color: #f12d0ae3;
}
ul.topMenu li a.btnOut:hover{
    background-color: #ff2600;
}
ul.topMenu li a:hover{
    background-color: #2eadf796;
}
ul.topMenu a img{
    width: 10%;
    padding:0px;
    margin-right: 200px;
    background-color: none;
    color: none;
}
ul.topMenu a:hover img{
    color:none;
    background-color: none;
}
/*Yeni ürün ekleme*/
.newProduct{
    height: auto;
    padding: 20px;
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid #2b2e2b;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #badadf;
    color: #2b2e2b;
}
.newProductButton{
    text-align: center;
}

/*alert*/
.alert {
    padding: 20px;
    background-color: #26a030; 
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
  }
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}
/*section*/

section{
    border: 1px solid #2b2e2b;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
}
/* ürün arama */
.searchTab{
    text-align: center;
    background-color: #6dc7d4;
    border-top-left-radius: 15px;
    padding: 20px;
    color: #1d2122;
}
/* ürün listeleme*/
.productList{
    text-align: center;
    background-color: #63878d;
    border-bottom-right-radius: 15px;
    padding: 20px;
    color: #1d2122;
    height: auto;
    margin: auto;
    width: auto;
}
.productList table, th, td, button{
    border: 1px solid #2b2e2b;
    text-align: center;
    border-collapse: collapse;
    padding: 15px;
    margin-left: 30px;
}
.productList table{
    width: 50%;
    margin-left: 23%;
}

.error{
    color:#861212;
}


#navbar{
    margin-bottom: 20px;
}

.nav-item{
    padding: 10px;
    font-size: 20px;
    margin-left: 140px;
}

.nav-item:hover{
    background-color: #2cff01;
    border-radius: 10px;
}
