body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/bg-opacity.png");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

/*üst panel*/
nav{
    text-align:center;
    background-color: #2d4769cb;
    padding: 10px 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
ul.topMenu li{
    list-style: none;
    display: inline;
    font-size: 20px;
}

ul.topMenu li a{
    text-decoration: none;
    color:#164077 ;
    background-color: #1172b3e3;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul.topMenu li a:hover{
    background-color: #2eadf796;
}
ul.topMenu a,img{
    width: 10%;
    padding:0px;
}
ul.topMenu li a.btnOut{
    color:#dce0e4 ;
    background-color: #f12d0ae3;
}
ul.topMenu li a.btnOut:hover{
    background-color: #ff2600;
}
.error{
    color:#861212;
}

/*REGISTER */
.register{
    text-align: center;
}

.register table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #77aabe9f;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.register input{
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
}

#navbar{
    margin-bottom: 20px;
}

.nav-item{
    padding: 10px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-item:hover{
    background-color: #2cff01;
    border-radius: 10px;
}
